target
*/src/generated
*.ipr
*.iws
*.iml
.project
.settings
.classpath
.idea
/src/*.json


# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock




# Dependency directories
website/node_modules/

# Optional npm cache directory
website/.npm


# parcel-bundler cache (https://parceljs.org/)
.cache

# nuxt.js build output
website/.nuxt

# Nuxt generate
website/dist
website/.env

# macOS
website/.DS_Store
.DS_Store
website/.eslistcache
