<Configuration>
    <Appenders>
        <RollingRandomAccessFile name="FILE" fileName="${sys:catalina.home}/logs/mondrian.log" append="true" filePattern="${sys:catalina.home}/logs/mondrian-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d %-5p [%c] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <DirectWriteRolloverStrategy>
                <Delete basePath="${sys:catalina.home}/logs">
                    <IfLastModified age="P15D"/>
                </Delete>
            </DirectWriteRolloverStrategy>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="MDXLOG" fileName="${sys:catalina.home}/logs/mondrian-mdx.log" append="true" filePattern="${sys:catalina.home}/logs/mondrian-mdx-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d %-5p [%c] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="SQLLOG" fileName="${sys:catalina.home}/logs/mondrian-sql.log" append="true" filePattern="${sys:catalina.home}/logs/mondrian-sql-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d %-5p [%c] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache" level="info">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="mondrian" level="info">
        </Logger>
        <Logger name="mondrian.mdx" level="debug">
            <AppenderRef ref="MDXLOG"/>
        </Logger>
        <Logger name="mondrian.sql" level="debug">
            <AppenderRef ref="SQLLOG"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>